.DS_Store
Thumbs.db
node_modules/
bun.lockb
dist/
build/
.env
.env.local
.env.development
.env.production
backend/.env
frontend/.env
/backend/whatsapp-session
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
/backend/session-data
/backend/.wwebjs_auth/
/backend/.wwebjs_cache/